.logo {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo span {
  color: #e50914;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 768px) {
  .logo span {
    font-size: 1.8rem;
  }
}

